@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "tailwindcss";


:root {
  --bg-black: #121212;
  --modra: #0056B3;
  --modra-hover: #003c7c;
  --modra-transparent: #0080ff23;
  --white: #ffffff;
  --white-hover: #dddddd;
  --bg-gray: #212121;
  --card-gray: #1A1A1A;
  --header-gray: #111111;
  --gray-hover: #2e2e2e;
  --gray-text: #9CA3AF;
  --font-sans: 'Montserrat', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: black;
  color: white;
  font-family: var(--font-sans);
}
